.contact__content{
    margin-top: 3.6rem;
}
.contact .para__text{
    max-width: 600px;
    margin: 0 auto;
}
.form__control{
    font-size: 1.7rem;
    font-family: inherit;
    padding: 1.2rem 2rem;
    width: 100%;
    margin: 1.6rem 0;
}
.form__submit--btn{
    display: block;
    margin: 2rem auto 0 auto;
}


@media screen and (min-width: 678px){
    .form__elem.form__elem--2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3.2rem;
    }
}

@media screen and (min-width: 768px){
    .contact__content form{
        max-width: 680px;
        margin: 0 auto;
    }
}